@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

/* classes that are actually used */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  margin: 5px;
}

@media (max-width: 900px) {
  .createTaskContainer {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    min-width: 256px;
  }

  
  .taskTitleForm {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }


.taskTitle,
.taskDescription {
  width: 100%;
  margin-bottom: 10px;
}

.taskDescription {
  padding: 5px;
}

.priorityCategoryRepetition {
  flex-direction: column;
  flex-wrap: nowrap;
}

.formSelect {
  width: 100%;
  margin-bottom: 10px;
}

.weekdays {
  flex-direction: column;
}

.taskCreateOptions {
  flex-direction: column;
  align-items: center;
}

.btnLocal {
  width: 100%;
  margin-bottom: 10px;
}

/* added by Nur Islom */

.taskDescription {
  outline: none;
  /* padding: 15px; */
}

.formSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 5px;
  /* height: 40px; */
  background: #fff;
  /* padding: 5px; */
  /* width: 100%; */
  border-radius: 2px;
  cursor: pointer;
  /* display: block; */
  /* margin-bottom: 10px; */
  font-size: 16px;
  border: 1px solid black;
}

.formSelect:active {
  border: 1px solid #4158d0;
}


.deadline {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: lightblue;
  font-family: Arial, sans-serif;
  height: 28px;
  background: #fff;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid black;
}

.btnLocal {
  display: inline-block;
  font-family: "Tajawal", sans-serif;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: #2564cf;
  width: fit-content;
  height: fit-content;
  padding: 15px 15px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.btnLocal:hover,
.btnLocal:focus,
.btnLocal:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.02);
}

.inputData {
  height: 40px;
  width: 100%;
  position: relative;
}

.input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}

.inputData .input:focus~.label,
.inputData .input:valid~.label {
  transform: translateY(-20px);
  color: #4158d0;
}

.inputData .label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: black;
  pointer-events: none;
  transition: all 0.3s ease;
}

.label {
  color: black;
  pointer-events: none;
  transition: all 0.3s ease;
}

.inputData .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.inputData .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.inputData .input:focus~.underline:before,
.inputData .input:valid~.underline:before {
  transform: scaleX(1);
}

.textarea {
  padding: 5px;
  max-width: 80%;
  outline: none;
}

.wrapper {
  display: flex;
  align-items: center;
  column-gap: .5rem;

}

.btn {
  border: none;
  background-color: white;
  font-size: 16px;
}

.taskCreateOptions {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 1rem;
}

}

/* Add some custom styles to make the form look better on large screens */
@media (min-width: 900px) {
  .createTaskContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: flex-start;
    font-family: 'Poppins', sans-serif;
    background: #fff;
    column-gap: 1rem;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
  }

  /* .task-title-form,
    .task-details-form,
    .task-create-options {
    } */

  .textarea {
    padding: 5px;
    outline: none;
    width: 100%;
  }

  .break {
    display: flex;
    width: 50%;
    justify-content: space-between;
  }

  /* added by Nur Islom */

  .taskTitleForm {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
  }

  .taskDescription {
    width: 100%;
    outline: none;
    padding: 15px;
    border: 1px solid black;
    border-radius: 4px;
  }

  .formSelect {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    padding: 10px;
    background-color: lightblue;
    font-family: Arial, sans-serif;
    height: 40px;
    background: #fff;
    padding: 5px;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid black;
  }

  .formSelect:active {
    border: 1px solid #4158d0;
  }

  .priorityCategoryRepetition {
    width: 100%;
  }

  .weekdays {
    width: 100%;
  }

  .deadline {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background-color: lightblue;
    font-family: Arial, sans-serif;
    height: 28px;
    background: #fff;
    width: 93%;
    padding: 5px;
    border-radius: 1px;
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid black;
  }

  .btnLocal {
    align-self: center;
    font-family: "Tajawal", sans-serif;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: #2564cf;
    width: fit-content;
    height: fit-content;
    padding: 10px 10px;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }

  .btnLocal:hover,
  .btnLocal:focus,
  .btnLocal:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.1);
    transform: scale(1.02);
  }

  .inputData {
    height: 40px;
    width: 100%;
    position: relative;
  }

  .input {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
  }

  .inputData .input:focus~.label,
  .inputData .input:valid~.label {
    transform: translateY(-20px);
    color: #4158d0;
  }

  .inputData .label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: black;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .label {
    color: black;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  .inputData .underline {
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
  }

  .inputData .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: #4158d0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
  }

  .inputData .input:focus~.underline:before,
  .inputData .input:valid~.underline:before {
    transform: scaleX(1);
  }

  .textarea {
    padding: 5px;
    outline: none;
  }

  .wrapper {
    display: flex;
    align-items: center;
    column-gap: .5rem;

  }

  .btn {
    border: none;
    background-color: white;
    font-size: 16px;
  }

  .taskDetailsForm {
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-between;
  }

  .taskCreateOptions {
    display: flex;
    width: 30%;
    align-self: flex-end;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    text-align: center;
  }
}