@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

/* classes that are actually used */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  margin: 5px;
}

.createTaskContainer {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  gap: 1em;
}

.taskTitle {
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

.wrapper {
  display: flex;
  align-items: center;
  border-radius: 5px;
  gap: 1em;
}

.wrapper .inputData {
  height: 40px;
  width: 100%;
  position: relative;
}

.wrapper .inputData .input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
}

.inputData .input:focus ~ .label,
.inputData .input:valid ~ .label {
  transform: translateY(-20px);
  color: #4158d0;
}

.wrapper .inputData .label {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: black;
  pointer-events: none;
  transition: all 0.3s ease;
}

.inputData .underline {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
}

.inputData .underline:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background: #4158d0;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.inputData .input:focus ~ .underline:before,
.inputData .input:valid ~ .underline:before {
  transform: scaleX(1);
}

.textarea {
  padding: 5px;
  outline: none;
  width: 100%;
  min-height: 80px;
}

.taskDescription {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
}

.option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 8px;
  align-items: center;
  background: #fff;
}

.option:hover {
  background: #f2f2f2;
}

.option .i {
  font-size: 25px;
  margin-right: 12px;
}

.option .optionText {
  font-size: 18px;
  color: #333;
}

.select-chevron {
  width: 30px;
  height: 30px;
}

/* Remove default appearance */

.formSelect {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 10px;
  background-color: lightblue;
  font-family: Arial, sans-serif;
  gap: 1em;
  height: 40px;
  background: #fff;
  padding: 5px;
  width: 100%;
  width: 200px;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid black;
}

.formSelect:active {
  border: 1px solid #4158d0;
}


.select .option {
  padding: 10px;
  background-color: white;
}

.taskDetailsForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.option {
  padding: 10px;
}

.option .label {
  cursor: pointer;
}

/* btn design */
.btnLocal {
  display: inline-block;
  font-family: "Tajawal", sans-serif;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: #2564cf;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.btnLocal:hover,
.btnLocal:focus,
.btnLocal:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.1);
  transform: scale(1.02);
}
.taskCreateOptions {
  justify-content: space-around;
}
