.createTaskBox {
  display: flex;
  font-family: "Poppins", sans-serif;
  background-color: white;
  padding: 20px 0;
  border-radius: 5px;
  
  /* border: 1px solid black; */
  flex-wrap: wrap;
}

.taskTitDesc {
  flex: 45%;
  padding: 20px;
  /* padding: 0 10px 0 0; */
}
.taskPrCtRep {
  display: flex;
  flex: 45%;
  padding: 20px;
}

.taskCreateBtns {
  display: flex;
  flex: 10%;
  padding: 20px;
}

.optionsBox {
  flex: 50%;
}

@media (max-width: 768px) {
  .taskTitDesc {
    flex: 100%;
    background-color: red;
  }
  .taskPrCtRep {
    flex: 100%;
  }

  .optionsBox {
    flex: 100%;
  }
}
